In [1]:
import pandas as pd

In [5]:
import os
os.path.expanduser("~/downloads/Projects")

'/Users/Vijju/downloads/Projects'

In [2]:
pd.__version__

'2.1.4'

In [3]:
import os
emp = pd.read_excel(os.path.expanduser('~/downloads/Rawdata.xlsx'))

In [4]:
emp

     Name          Domain       Age   Location   Salary      Exp
0    Mike   Datascience#$  34 years     Mumbai   5^00#0       2+
1  Teddy^         Testing    45' yr  Bangalore  10%%000       <3
2   Uma#r  Dataanalyst^^#       NaN        NaN  1$5%000   4> yrs
3    Jane     Ana^^lytics       NaN   Hyderbad   2000^0      NaN
4  Uttam*      Statistics     67-yr        NaN   30000-  5+ year
5     Kim             NLP      55yr      Delhi  6000^$0      10+

In [ ]:
id(emp)

In [ ]:
emp.columns

In [ ]:
emp.shape

In [ ]:
emp.describe()

In [ ]:
emp.head()

In [ ]:
emp.tail()

In [ ]:
emp.info()

In [ ]:
emp.isnull()

In [ ]:
emp.isna() # isnull ==isna

In [ ]:
emp.isnull().sum()

# Data Cleaning or Data Clensing

In [ ]:
emp['Name']

In [ ]:
emp['Name'] = emp['Name'].str.replace(r'\W','',regex=True) # \w = non word characters

In [ ]:
emp['Name']

In [ ]:
emp['Domain'] = emp['Domain'].str.replace(r'\W','',regex=True)

In [ ]:
emp['Domain']

In [ ]:
emp['Age'] = emp['Age'].str.replace(r'\W','',regex=True)

In [ ]:
emp['Age']

In [ ]:
emp['Age'] =emp['Age'].str.extract('(\d+)')  # \d+ is extract number

In [ ]:
emp['Age']

In [ ]:
emp['Location'] = emp['Location'].str.replace(r'\W','',regex=True)

In [ ]:
emp['Location']

In [ ]:
emp['Salary'] = emp['Salary'].str.replace(r'\W','',regex=True)

In [ ]:
emp['Salary']

In [ ]:
emp['Exp']=emp['Exp'].str.replace(r'\W','',regex=True)

In [ ]:
emp['Exp']

In [ ]:
emp['Exp'] =emp['Exp'].str.extract('(\d+)')

In [ ]:
emp['Exp']

In [ ]:
clean_data = emp.copy()

# EDA Techniques

In [ ]:
clean_data.isnull().sum()

In [ ]:
clean_data['Age']

In [ ]:
import numpy as np

In [ ]:
clean_data['Age'] = clean_data['Age'].fillna(np.mean(pd.to_numeric(clean_data['Age'])))

In [ ]:
clean_data['Age']

In [ ]:
clean_data['Exp']

In [ ]:
clean_data['Exp'] = clean_data['Exp'].fillna(np.mean(pd.to_numeric(clean_data['Exp'])))

In [ ]:
clean_data['Exp']

In [ ]:
clean_data['Location'].isnull().sum()

In [ ]:
clean_data['Location'] = clean_data['Location'].fillna(clean_data['Location'].mode()[0])

In [ ]:
clean_data['Location']

In [ ]:
clean_data

In [ ]:
clean_data.info()

In [ ]:
clean_data['Age'] = clean_data['Age'].astype(int)

In [ ]:
clean_data.info()

In [ ]:
clean_data['Salary'] = clean_data['Salary'].astype(int)

In [ ]:
clean_data['Exp'] = clean_data['Exp'].astype(int)

In [ ]:
clean_data.info()

In [ ]:
clean_data['Name'] = clean_data['Name'].astype('category')

In [ ]:
clean_data['Location'] = clean_data['Location'].astype('category')

In [ ]:
clean_data['Domain'] = clean_data['Domain'].astype('category')

In [ ]:
clean_data.info()

In [ ]:
clean_data = clean_data.drop('salary')

In [ ]:
clean_data.to_csv('clean_data.csv')

In [ ]:
import os
os.getcwd()

In [ ]:
# EDA

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
import warnings
warnings.filterwarnings('ignore')

In [ ]:
clean_data['Salary']

In [ ]:
vis1 = sns.distplot(clean_data['Salary']) # univariate analysis

In [ ]:
vis2 =  plt.hist(clean_data['Salary'])

In [ ]:
vis4 = sns.lmplot(data=clean_data, x = 'Exp', y= 'Salary')

In [ ]:
vis5 = sns.lmplot(data=clean_data, x= 'Exp',y='Salary',fit_reg = False)

In [ ]:
clean_data[:]

In [ ]:
clean_data[0:6:2]

In [ ]:
clean_data.columns

In [ ]:
X_iv = clean_data[['Name','Domain','Location','Exp']]

In [ ]:
Y_iv = clean_data[['Salary']]

In [ ]:
imputation = pd.get_dummies(clean_data,dtype=int)

In [ ]:
clean_data

In [ ]:
imputation

In [ ]:
len(clean_data)

In [ ]:
imputation.columns